<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuleRuKyY-TDLLvWIvHLDMzipi99VQ7QE</string>
	<key>GCM_SENDER_ID</key>
	<string>268743547950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moatikonFlutter</string>
	<key>PROJECT_ID</key>
	<string>moatikon-b3edd</string>
	<key>STORAGE_BUCKET</key>
	<string>moatikon-b3edd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268743547950:ios:5fe8d6982387e48e5f53bf</string>
</dict>
</plist>